.content
{
    margin-top: 10%;
    margin-left: 25%;
    align-items: center;
    width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
}

.primary
{
    margin: 5px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
}

.danger
{
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
    float: right;
}

.task
{
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
}
.my-4
{
    display: flex;
    align-items: center;
    justify-content: center;
}